.navbar {
     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center; 
    width: 100%;
}
 
a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-size-adjust: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #333;
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
}